.main {
  background-image: url("../../assets/bg-2.png");
}
html {
  overflow-x: hidden;
}
.main-gallery {
  background-image: url("../../assets//bg-3.png");
  width: 100vw;
  height: 100vh;
}

.img-size {
  height: 400px;
  object-fit: cover;
}

.carousel-control-prev-icon {
  background-color: black;
}
.carousel-control-next-icon {
  background-color: black;
}

.carousel {
  padding: 20px 100px;
}

section h1 {
  padding: 30px;
}
